{% extends 'base.html.twig' %}
{% block title %}
    Продукт
{% endblock %}
{% block body %}
    {% for product in products %}
                <h3 align="center">  {{ product.name }}</h3><br>
                <table style="margin: 10px;">
                    <tr>
                        <td>
                            <p>
                                <a href="{{ path('order_add_product', {'id':product.id, 'count':1}) }}">Добавить в
                                    корзину</a>
                            </p>
                        </td>
                        <td style=" width: 80%;">
                            Цена: {{ product.price }}<br> <br>
                            <P> {{ product.description }}</P>
                        </td>
                    </tr>
                </table>
                {% if product.imageName %}
                    <img src="{{ vich_uploader_asset(product, 'imageFile')| imagine_filter('products_list') }}"
                         class="img-thumbnail img-responsive center-block">
                {% endif %}
                <hr>
    {% endfor %}
{% endblock %}
